torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1 --index-url https://download.pytorch.org/whl/cu118

torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
transformers==4.53.3
requests==2.32.4
pillow==11.3.0
python-dotenv==1.1.1
together==1.5.21